<launch>
    <!-- Start your LiDAR node -->

    <!-- Convert PointCloud2 to LaserScan -->
    <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node">
        <remap from="cloud_in" to="hesai/pandar"/>
        <!-- Adjust these parameters as necessary for your LiDAR -->
        <param name="target_frame" value="laser"/>
        <param name="transform_tolerance" value="0.01"/>
        <param name="min_height" value="-0.45"/>
        <param name="max_height" value="0.15"/>
        <param name="angle_min" value="-3.1"/>
        <param name="angle_max" value="3.1"/>
        <param name="angle_increment" value="0.0087"/>
        <param name="scan_time" value="1/15000"/>
        <param name="range_min" value="0.8"/>
        <param name="range_max" value="20.0"/>
    </node>
</launch>
